<form>
    <h1>ToDo List</h1>
    <p>A place to store the things you have to do!</p>
    <input type="text" placeholder="Filter your to-dos" ng-model="$ctrl.filter">
    <ol> 
        <li contenteditable="true" ng-repeat="toDo in $ctrl.shop | filter: $ctrl.filter" ng-class="{strike: toDo.done === true}" >
        <button class="complete" ng-if="toDo.done === false" ng-click="$ctrl.completeTask($index)">Completed</button>
        {{toDo.list}}<button ng-click="$ctrl.removeTask($index)" class="x">X</button> 
        </li>
    </ol>
    <input type="text" placeholder="Add to your to-do" ng-model="$ctrl.newTask" class="more">
    <button class="add" ng-click="$ctrl.addTask()">Add</button>
</form>
